<section class="hero is-info is-small">
  <div class="hero-body ">
    <h1 class="title">Categories</h1>
    <h2 style="text-align:center" >Edit a category</h1>
  </div>
</section>

 
<%= form_with(model: @category, local: true) do |form| %>
 
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@category.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
 
  <p>
    <%= form.label :Description %><br>
    <%= form.text_field :cDesc %>
  </p>
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', category_path %>